body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 15px;
    width: 300px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  button {
    font-size: 18px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }

  body.dark-mode {
    background-color: #222;
    color: #f0f0f0;
  }
  
  /* Adicione estilos adicionais para outros elementos em modo escuro */
  
  